.animation {
    animation: changeBackgroundImg 15s ease infinite;
    animation-timing-function: linear;
    height: 800px;
    background-image: url('./frontImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

@keyframes changeBackgroundImg {
    20% {
      background-image: url('./familia.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    40% {
      background-image: url('./penal.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    60% {
      background-image: url('./comercio.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    80% {
      background-image: url('./consumidor.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }